{% extends "base.html" %}

{% block content %}
<body style="background-color:#7A223A;"> </body>
<h1 style="color:#FEF960;">Create New Entry</h1>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <!-- TODO: Add input for title -->
    <input style="background-color:#DA1F52;" name="title" placeholder="title"><br>
    <!-- TODO: Add input for content -->
    <input name="content" placeholder="content"><br>
    <!-- TODO: Add submit button -->
    <button type="submit">Submit</button>
</form>

<!-- TODO: Add a link back to dashboard -->
<a href="/dashboard">Back To Dashboard</a>
<p class="error">{{ error }}</p>

{% endblock %}