<!-- TODO: Rename this file to dashboard.html when ready -->

{% extends "base.html" %}

{% block content %}
<h1 style="color:#FEF960;">Your Dashboard</h1>
<h3 style="color:#F3C976;">Welcome, {{ username }}!</h3>
<a href="/create"><button>Create New</button></a>
<br><br>
<a href="/logout"><button>Logout</button></a>
<p class="error">{{ error }}</p>
</div>  

{% if entries %}

<div class="card">
    <!-- These only need to appear ONCE, so they go OUTSIDE the loop -->
    <h2 style="color:#FEF960;">Your Entries</h2>
    <!-- should only appear ONCE = OUTSIDE the loop -->
    <h2>Your Entries</h2>
    <a href="/create"><button>Create New</button></a>

    <div class="scrollableAreaContainer"> 
        <br><br>

        {% for entry in entries %}
            <!-- Everything inside here repeats for every entry -->
            <h3 style="color:#2D2D33;">{{ entry['title'] }}</h3>
            <p style="color:#2D2D33;">{{ entry['content'] }}</p>
            <p style=>{{ entry['image'] }}</p>
            <a href="/edit/{{ entry['id'] }}">Edit</a>
            <a href="/delete/{{ entry['id'] }}">Delete</a>
            <hr>
        
        {% endfor %}

    </div> 
</div>

{% endif %}
{% endblock %}