{% extends "base.html" %}

{% block content %}
<!-- <h2>Edit Entry</h2> -->
<!-- <div class="card"> -->
    <h2 style="color:#FEF960;">Edit Entry</h2>
    <form method="POST">
        <input style="background-color:#E3CCFB;" name="title" value="{{ entry['title'] }}"><br>
        <input style="background-color:#E3CCFB;" name="content" value="{{ entry['content'] }}"><br>
        <input style="background-color:#E3CCFB;" name="image" value="{{ entry['image'] }}"><br>
        <button type="submit">Update</button>

    </form>
<!-- </div> -->
<!-- TODO: Add a link back to dashboard -->

{% endblock %}